{% extends "Booking/renterbooking_base.html" %}

  {% block booking %}


      <h1>Following is the details of your booking</h1>
      <div class="BookingDetails">
        <img src="{{booking.vehicle.image.url}}" alt="" height="250" width="300">
        <h2>Car Name: - {{booking.vehicle.make.make}}</h2>
        <h2>Car Model: - {{booking.vehicle.model.makemodel}}</h2>
        <h4>Booking Date: - {{booking.bookingDate}}</h4>
        {% if booking.negotiationRequest %}
          <h4>Negotiation price: - {{booking.negotiationPrice}}</h4>
        {% else %}
          <h4>Booking price: - {{booking.price}}</h4>
        {% endif %}
        <p></p>
        <h4>Request Status: - {{booking.requestStatus}}</h4>
        <h4>Booking Status: - {{booking.bookingStatus}}</h4>
      {% if booked %}

        <h4>Payment : - Done</h4>

      {% elif Owneraccepted %}
        {%if renterRejected%}
          <a href="{% url "Booking:SelectPayment" pk=booking.pk %}">
            <button type="submit" name="button">
              Pay for Booking
            </button>
          </a>
          <form method="post">
            {% csrf_token %}
            <button type="submit" name="button">
              Cancel Booking
            </button>
          </form>
        {% endif %}
      {% endif %}
      </div>
  {% endblock %}
